.iti-flag {background-image: url("telwidget/img/flags.png");}

@media only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (min--moz-device-pixel-ratio: 2),
only screen and (-o-min-device-pixel-ratio: 2 / 1),
only screen and (min-device-pixel-ratio: 2),
only screen and (min-resolution: 192dpi),
only screen and (min-resolution: 2dppx) {
  .iti-flag {background-image: url("telwidget/img/flags@2x.png");}
}

input[type="tel"] {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  display: table-cell;
}

.intl-tel-input {
  display: table-cell;
}

.flag-container {
  z-index: 4;
}